@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    background: linear-gradient(167deg, #64130a, #131313);
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
