.leaderboard {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #111;
    color: white;
    text-align: center;
}

.leaderboard tr {
    border: 1px solid #333;
}

.leaderboard th {
    text-align: left;
    margin-left: 2px;
}

.pos {
    font-weight: 800;
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    gap: 0.5rem;
    margin: 5px;
    margin-top: 10px;
    padding: 4px;
    max-width: 120px;
}

.nmb {
    font-size: 1.2rem;
    font-weight: 600;
}

.divnme {
    background-color: #fff;
    border-radius: 5px;
    padding: 6px;
    margin: 2px;
    display: flex;
}

.drs {
    border: 2px solid rgb(112, 112, 112);
    color:rgb(112, 112, 112);
    border-radius: 6px;
    padding: 8px;
    font-weight: 600;
}

.leaderboard th {
    background: #222;
    font-weight: 600;
    padding: 2px;
    font-size: 0.7rem;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .table-wrapper {
        width: 100%;
        overflow-x: auto;
        padding: 0 10px;
    }

    .leaderboard {
        min-width: 100%;
        white-space: nowrap;
    }
}