.sessiondetails {
    display: flex;
    justify-content: space-between; /* Vyrovnání bloků */
    align-items: center;
    padding: 30px;
    background-color: #222;
    position: relative;
    width: 100%;
}

.left-section {
    flex: 1;
    
}

.center-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    gap: 10px;
    flex: 1;
}

.race-info {
    font-size: 26px;
    font-weight: bold;
}

.timer {
    font-size: 26px;
    font-weight: bold;
    margin: 5px;
}

.conditions {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.condition {
    background-color: #333;
    padding: 6px 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.track-temp { color: #f4c542; background-color: rgba(255, 204, 0, 0.2); } /* Yellow */
.air-temp { color: #ff5733; background-color: rgba(255, 87, 51, 0.2); }  /* Red */
.humidity { color: #22a6f2; background-color: rgba(34, 166, 242, 0.2); } /* Blue */
.wind { color: white; background-color: rgba(200, 200, 200, 0.2); } /* Light gray */

.status-clear {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 28px;
}


/* */

.leaderboard {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #111;
    color: white;
    text-align: center;
}

.leaderboard tr {
    border: 1px solid #333;
}

.leaderboard th {
    text-align: left;
    margin-left: 2px;
}

.pos {
    font-weight: 800;
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    gap: 0.5rem;
    margin: 5px;
    margin-top: 10px;
    padding: 4px;
    max-width: 120px;
}

.nmb {
    font-size: 1.2rem;
    font-weight: 600;
}

.divnme {
    background-color: #fff;
    border-radius: 5px;
    padding: 6px;
    margin: 2px;
    display: flex;
}

.drs {
    border: 2px solid rgb(112, 112, 112);
    color:rgb(112, 112, 112);
    border-radius: 6px;
    padding: 8px;
    font-weight: 600;
}

.leaderboard th {
    background: #222;
    font-weight: 600;
    padding: 2px;
    font-size: 0.7rem;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .table-wrapper {
        width: 100%;
    }

    .leaderboard {
        min-width: 100%;
        white-space: nowrap;
    }
}

@media (max-width: 498px) {
    .leaderboard {
        display: block;
    }
}