.content-wrapper {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin: 10px 0;
}

.racet h2, .gridt h2, .qualt h2, .sracet h2 {
    background-color: #222;
    margin: 0;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    border: 1px solid #333;
}

.racet, .gridt, .qualt, .sracet {
    max-width: 600px;
}

#race-date {
    margin-bottom: 80px;
}

table {
    margin-bottom: 20px;
    background-color: #111;
    border-collapse: collapse;
    color: white;
    align-items: center;
    text-align: center;
}

table th, table td {
    padding: 10px;
    border: 1px solid #333;
}

table th {
    background-color: #222;
}

#race-results tbody,
#grid tbody,
#qualifying tbody,
#sprint-results tbody {
    background-color: #111;
}

.table-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.table-wrapper > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-wrapper table {
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    border-collapse: collapse;
}

#sprint-results {
    display: table;
}

@media (max-width: 1060px) {
    .table-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    #sprint-results {
        grid-column: span 1;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: auto;
        padding: 0 10px;
    }
    
    .table-wrapper table {
        min-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }    

    .table-wrapper div {
        width: 100%;
        overflow-x: auto;
    }
}

@media (max-width: 612px) {
    .racet table, .sracet table {
        display: block;
    }

    .racet h2, .sracet h2 {
        display: block;
    }
}

@media (max-width: 507px) {
    .qualt h2 {
        display: block;
    }

    .qualt table  {
        display: block;
    }
}

@media (max-width: 387px) {
    .gridt h2 {
        display: block;
    }

    .gridt table {
        display: block;
    }
}